# Dossiers de build
.next/
out/
build/
dist/

# Dossiers de dépendances
node_modules/

# Fichiers de configuration
next.config.js
postcss.config.js
tailwind.config.js
*.config.js

# Fichiers de test
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx

# Autres fichiers
.eslintrc.js
.prettierrc
*.d.ts
public/ 